/* 아래로 이동하는 애니메이션 (slide-down) */
.slide-down-enter {
  position: absolute;
  width: 100%;
  transform: translateY(100%);
}

.slide-down-enter-active {
  transform: translateY(0);
  transition: transform 500ms ease-in-out;
}

.slide-down-exit {
  position: absolute;
  width: 100%;
  transform: translateY(0);
}

.slide-down-exit-active {
  transform: translateY(-100%);
  transition: transform 500ms ease-in-out;
}

/* 위로 이동하는 애니메이션 (slide-up) */
.slide-up-enter {
  position: absolute;
  width: 100%;
  transform: translateY(-100%);
}

.slide-up-enter-active {
  transform: translateY(0);
  transition: transform 500ms ease-in-out;
}

.slide-up-exit {
  position: absolute;
  width: 100%;
  transform: translateY(0);
}

.slide-up-exit-active {
  transform: translateY(100%);
  transition: transform 500ms ease-in-out;
}
